<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ScottPlot" version="4.1.59.0" targetFramework="net40" developmentDependency="true" />
  <package id="ScottPlot.WinForms" version="4.1.59.0" targetFramework="net40" />
  <package id="NPOI" version="2.5.6.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="Aliyun.OSS.SDK" version="2.13.0" targetFramework="net472" />
  <package id="Activiz.NET.x64" version="5.8.0" targetFramework="net472" /> 
</packages>
